<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Blog podróżniczy</title>
</head>
<body>
    <div>
        <h1>Witam na blogu podróżniczym!</h1><br><br>
        <h2>Blog jest zapisem osobistych podróży roweroweych po Polsce i Europie :)</h2>
    </div>
    <div>
        <p> Blog zawiera informacje o trasach rowerowych z mapami oraz niezbędnymi
        wzkazówkami dotyczącymi konkretynych obiektów na trasie.</p><br>
    </div>
    <div>
        <p>Zapraszam również na stronę Stefakursów.pl, dzięki której powstała
        nieniejsza strona internetowa. Poniżej znajduje się link do strony:</p>
        <a href="https://strefakursów.pl">https://strefakursów.pl</a>
    </div>
</body>
</html>